<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="article">
                <div class="article-title">
                    <span class="title"><%= @article.title %></span>
                </div>
                <div class="article-body">
                    <%= @article.body %>
                </div>
                <% @article.comments.each do |comment| %>
                    <p class="navbar-text"><%= comment.user.email %> realizo el comentario</p>
                    <p class="navbar-text"><%= comment.body %></p>
                <% end %>
                
                <% if signed_in? %>
                    <% if @comment.errors.any? %>
                  	    <br />
                        <div class="alert alert-danger">
                            <ul>
                      	        <% @comment.errors.full_messages.each do |msg| %>
                      		        <li><%= msg %></li>
                      		    <% end %>
                      	    </ul>
                        </div>
                    <% end %>
                
                    <%= form_for [@article, @article.comments.build] do |f| %>
                        <div class="form-group">
                            <%= f.text_area :body, class: "form-control", placeholder: "Agregar Comentario" %>
                        </div>
            
                        <div class="actions text-right">
                            <%= f.submit "Comentar", class: "btn btn-primary" %>
                        </div>
                    <% end %>
                <% end %>
                
            </div>
        </div>
    </div>
</div>